<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hngd.dao.VideoEncoderInfoMapper">
  <resultMap id="BaseResultMap" type="com.hngd.model.VideoEncoderInfo">
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="org_code" jdbcType="VARCHAR" property="orgCode" />
    <result column="type_code" jdbcType="VARCHAR" property="typeCode" />
    <result column="channel_count" jdbcType="NUMERIC" property="channelCount" />
    <result column="ip_address" jdbcType="VARCHAR" property="ipAddress" />
    <result column="stream_port" jdbcType="NUMERIC" property="streamPort" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="login_password" jdbcType="VARCHAR" property="loginPassword" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
    <result column="vendor_id" jdbcType="VARCHAR" property="vendorId" />
    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
    <result column="vendor_name" jdbcType="VARCHAR" property="vendorName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    code, name, org_code, type_code, channel_count, ip_address, stream_port, login_name, 
    login_password, remark, last_modify_time, vendor_id, org_name, vendor_name
  </sql>
  <select id="selectByExample" parameterType="com.hngd.model.VideoEncoderInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from vw_video_encoder
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.hngd.model.VideoEncoderInfoExample">
    delete from vw_video_encoder
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hngd.model.VideoEncoderInfo">
    insert into vw_video_encoder (code, name, org_code, 
      type_code, channel_count, ip_address, 
      stream_port, login_name, login_password, 
      remark, last_modify_time, vendor_id, 
      org_name, vendor_name)
    values (#{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR}, 
      #{typeCode,jdbcType=VARCHAR}, #{channelCount,jdbcType=NUMERIC}, #{ipAddress,jdbcType=VARCHAR}, 
      #{streamPort,jdbcType=NUMERIC}, #{loginName,jdbcType=VARCHAR}, #{loginPassword,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{lastModifyTime,jdbcType=TIMESTAMP}, #{vendorId,jdbcType=VARCHAR}, 
      #{orgName,jdbcType=VARCHAR}, #{vendorName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hngd.model.VideoEncoderInfo">
    insert into vw_video_encoder
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="orgCode != null">
        org_code,
      </if>
      <if test="typeCode != null">
        type_code,
      </if>
      <if test="channelCount != null">
        channel_count,
      </if>
      <if test="ipAddress != null">
        ip_address,
      </if>
      <if test="streamPort != null">
        stream_port,
      </if>
      <if test="loginName != null">
        login_name,
      </if>
      <if test="loginPassword != null">
        login_password,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="lastModifyTime != null">
        last_modify_time,
      </if>
      <if test="vendorId != null">
        vendor_id,
      </if>
      <if test="orgName != null">
        org_name,
      </if>
      <if test="vendorName != null">
        vendor_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null">
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="typeCode != null">
        #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="channelCount != null">
        #{channelCount,jdbcType=NUMERIC},
      </if>
      <if test="ipAddress != null">
        #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="streamPort != null">
        #{streamPort,jdbcType=NUMERIC},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="loginPassword != null">
        #{loginPassword,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="vendorId != null">
        #{vendorId,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="vendorName != null">
        #{vendorName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hngd.model.VideoEncoderInfoExample" resultType="java.lang.Long">
    select count(*) from vw_video_encoder
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update vw_video_encoder
    <set>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.orgCode != null">
        org_code = #{record.orgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.typeCode != null">
        type_code = #{record.typeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.channelCount != null">
        channel_count = #{record.channelCount,jdbcType=NUMERIC},
      </if>
      <if test="record.ipAddress != null">
        ip_address = #{record.ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.streamPort != null">
        stream_port = #{record.streamPort,jdbcType=NUMERIC},
      </if>
      <if test="record.loginName != null">
        login_name = #{record.loginName,jdbcType=VARCHAR},
      </if>
      <if test="record.loginPassword != null">
        login_password = #{record.loginPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.lastModifyTime != null">
        last_modify_time = #{record.lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.vendorId != null">
        vendor_id = #{record.vendorId,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null">
        org_name = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.vendorName != null">
        vendor_name = #{record.vendorName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update vw_video_encoder
    set code = #{record.code,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      org_code = #{record.orgCode,jdbcType=VARCHAR},
      type_code = #{record.typeCode,jdbcType=VARCHAR},
      channel_count = #{record.channelCount,jdbcType=NUMERIC},
      ip_address = #{record.ipAddress,jdbcType=VARCHAR},
      stream_port = #{record.streamPort,jdbcType=NUMERIC},
      login_name = #{record.loginName,jdbcType=VARCHAR},
      login_password = #{record.loginPassword,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      last_modify_time = #{record.lastModifyTime,jdbcType=TIMESTAMP},
      vendor_id = #{record.vendorId,jdbcType=VARCHAR},
      org_name = #{record.orgName,jdbcType=VARCHAR},
      vendor_name = #{record.vendorName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>